@import "./variables.scss";

@mixin navSpacing {
  margin: 0 1rem;
}

@mixin flexRowEnd {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.mainNav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: black;
  margin-top: 1.5rem;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  @media only screen and (min-width: 36em) {
    font-size: 1rem;
  }
  transition: color;
  a {
    @include navSpacing();
    color: white;
    &.active {
      color: $blue;
    }
  }

  a:hover {
    color: $blue;
  }
}

.login-nav {
  @include flexRowEnd();
 
  padding: 0.5rem 0.5rem 0.5rem 0rem;
  a{
    color: $blue;
    text-decoration: underline;
    text-align: center;
  }
  span{
    text-align: end;
  }
  @media only screen and (min-width: $mq-48) {
    padding: 0.5rem 1.5rem 0.5rem 0rem;
  }
}

.login-nav-spacing {
  @include navSpacing();
  max-width: 4rem;
  flex-basis: 20%;
  @media only screen and (min-width: $mq-60) {
    flex-basis: 9%;
  }
}

div {
  &.logged-in-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    button {
      margin-right: 1rem;
    }
    .logged-in-background {
      background-color: $blue;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      p {
        &#spacer {
          margin: $margin-s 0;
        }
      }
    }
  }
}

button {
  &#tutoring-request {
    @include button-styling($upper-spacing-sm);
    width: 35%;

    @media only screen and (min-width: $mq-48) {
      width: 28%;
    }
    @media only screen and (min-width: $mq-60) {
      width: 20%;
    }
  }
}
