@import "./variables.scss";

@mixin centerText {
  text-align: center;
}

$text-shadow-col: green;

.mainTitle {
  font-size: 4rem;
  color: black;
  font-family: Arial, Helvetica, sans-serif;

  font-weight: bold;
  // text-shadow: 0.25rem 0.25rem 0 $text-shadow-col;
  @include centerText();
  @media only screen and (max-width: 36em) {
    font-size: 2rem;
    // text-shadow: 0.2rem 0.175rem 0 $text-shadow-col;
  }
}

h1 {
  display: block;
  font-size: 2em;
  margin: 0.5rem;
}

p {
  display: block;
  &.logged-in-text {
    //@include flexEnd();
    color: $darkblue;
    margin: 0.75rem 2rem;
    font-size: 1.125rem;
    @media only screen and (max-width: 36em) {
      margin: 0.5rem 1rem;
    }
  }
}

.accHeader {
  color: white;
}
