@import "./variables.scss";

@mixin centerText {
  text-align: center;
}

$text-shadow-col: green;

.mainTitle {
  font-size: 4rem;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0;
  font-weight: bold;
  // text-shadow: 0.25rem 0.25rem 0 $text-shadow-col;
  @include centerText();
  @media only screen and (max-width: 36em) {
    font-size: 2rem;
    // text-shadow: 0.2rem 0.175rem 0 $text-shadow-col;
  }
}
.subTitle {
  font-size: 1.5rem;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  @include centerText();
  margin: 0;
  padding: 0;
}
h1 {
  display: block;
  font-size: 2em;
  margin: 0.5rem;
}

p {
  display: block;
  &.logged-in-text {
    //@include flexEnd();
    color: black;

    padding: $margin-s 1rem;
    margin: 0;
    font-size: $font-s;
    @media only screen and (min-width: $mq-48) {
      padding: $margin-s 2rem;
    }

    &.logged-in-actions {
      cursor: pointer;
      transition: background-color 0.25s, color 0.25s;
      &:hover {
        background-color: green;
        color: white;
      }
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}

.accHeader {
  color: white;
  @include textStyle(1.33333rem, 400, white);
  padding: 0.5rem 0;
  &::marker {
    color: $blue;
  }
  @media only screen and (min-width: $mq-1000) {
    @include textStyle($font-l, 400, white);
  }
}

h6 {
  @include textStyle($font-m, 400, black);
  cursor: pointer;
}
