@import "../scss/variables.scss";

//colors
#root{
  position: relative;
}
input{
  padding: 0.25rem;
}
input,
select {
  border: 2px solid $lightgrey;
  &:hover,
  &:active {
    border-color: $mainred;
  }
}

form {
  &.vertical-form-wrap {
    @include flexColumn();
    width: 90%;
  }

  button {
    &.login-form-button {
      @include button-styling($upper-spacing-sm * 3);
      width: 100%;

      &.error-spacing {
        margin-top: 0.5rem;
      }
    }
    &.sign-up-button {
      @include button-styling($upper-spacing-sm * 3);

      width: 60%;
      &.error-spacing {
        margin-top: 0.5rem;
      }
    }
  }
  h1 {
    margin-bottom: 0rem;
    text-align: center;
    font-size: 1.25rem;
    @media only screen and (min-width: $mq-48) {
    }
  }
  span {
    display: block;
    margin-top: 0.5rem;
  }
}

.wrapper-padding {
  @include pageWrapper();
}
.flex-col {
  @include flexColumn();
}
.home-grid {
  display: grid;
  justify-items: center;
  margin: 1rem;
  background-color: rgb(0, 0, 22);
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  padding: 1rem;
  @media only screen and (min-width: $mq-60) {
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
    justify-items: flex-start;
    padding: 2rem;
  }
  @media only screen and (min-width: $mq-48) {
    grid-template-rows: 100%;
    grid-template-columns: 40% 60%;
    justify-items: flex-start;
    padding: 2rem;
  }

  .home-main-grid-img {
    grid-column: 1 / 2;
    width: 100%;
    max-width: $max-image-width;
    height: auto;

    @media only screen and (min-width: $mq-48) {
      width: 22rem;
      margin: auto;
    }
    &:hover {
      cursor: pointer;
    }
    figure {
      margin: 0;
      position: relative;
      display: inline-block;
    }
    img {
      height: auto;
      width: 100%;
      object-fit: contain;

      vertical-align: middle;
      @media only screen and (min-width: $mq-60) {
        height: 100%;
        border-radius: 50%;
      }

      // &:hover {
      //   transform: scale(1.05);
      // }
    }
  }

  .home-main-grid-acc {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-column: 1;
    grid-row: 2;
    padding-bottom: 1rem;

    @media only screen and (min-width: $mq-60) {
      justify-content: center;
      padding-left: 3rem;
      grid-column: 2/4;
      grid-row: 1;
      padding-bottom: 0;
    }
    ul {
      padding-left: 2rem;
    }
  }
}

hr {
  width: 100%;
  border-color: black;
}

.form-parent {
  max-width: $max-form-width;
  width: 70%;
  padding: 1rem;
  margin-top: 3rem;
  background: rgb(189, 188, 188);
  border-radius: $border-radius-big;
  border-color: $mainred;
  border-width: 0.25rem;
  border-style: solid;
  display: flex;
  justify-content: center;
  &.slim-form{
    max-width: 25rem;
  }
}

.center-wrapper {
  display: grid;
  place-items: center;
}

.row-form-fields-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  @media only screen and (min-width: $mq-60){
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
  }
}
.wrap-login-form-field {
  padding: 0.25rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .flex-form-content {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 0.5rem;
    @media only screen and (min-width: $mq-60){
      width: 60%
    }
  }
  input[type="text"], input[type="email"], input[type="password"] {
    display: block;
    width: 100%;
    font-size: 1rem;
    box-sizing: border-box;
  }
  label {
    margin: 0 0 0.25rem 0;
    font-size: 1rem;
    font-style: italic;
    display: block;
    @media only screen and (min-width: $mq-48) {
      font-size: 1.2rem;
    }
  }
  p {
    font-size: 0.75rem;
    font-style: italic;
    color: black;
    margin-top: 0.25rem;
  }
  span {
    color: black;
    align-self: flex-end;
    font-size: 1rem;
    margin-right: 0.5rem;
  }
}

.wrap-signup-form-field {
  padding: 0.25rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (min-width: $mq-48) {
    padding: 0.5rem;
  }
  .flex-form-content {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    padding: 0 0.5rem;
    margin: 0.5rem 0.5rem;
    select {
      width: $select-form-width;
      height: 1.5rem;
      font-weight: bold;
      color: $darkblue;
    }
  }
  .react-datepicker-wrapper {
    width: $select-form-width;
    .react-datepicker__input-container {
      input[type="text"] {
        display: block;
        height: 1.5rem;
        box-sizing: border-box;
        text-align: left;
        font-weight: bold;
        color: $darkblue;
      }
    }
  }
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    display: block;
    width: 100%;
    height: 1.5rem;
    box-sizing: border-box;
    text-align: center;
  }
  label {
    margin: 0 0 0.25rem 0;
    font-size: 1rem;
    font-style: italic;
    display: block;
    @media only screen and (min-width: $mq-48) {
      font-size: 1.2rem;
    }
  }
  p {
    font-size: 0.75rem;
    font-style: italic;
    color: black;
    margin-top: 0.25rem;
  }
  span {
    color: $darkblue;
    align-self: flex-end;
    font-size: 0.8rem;
    margin-right: 0.5rem;
    &#cost {
      color: black;
      font-size: 1.5rem;
      align-self: center;
    }
  }
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(8, 12%);
  gap: 10px;
  width: 100%;
  min-height: 500px;
  .grid-box {
    color: green;
    padding: 10px;
    text-align: left;
    background-color: gray;
  }
}

.error-wrap {
  margin-top: 0.5rem;
  padding: 0.25rem;
  background-color: red;
  opacity: 0.85;
  width: 95%;
  text-align: center;
  border-radius: $border-radius-small;
  p {
    color: white;
    font-size: 0.75rem;
  }
}
.subjects-page-wrapper {
  @include pageWrapper();
  .flex-col {
    p {
      margin-top: 0;
    }
  }
}
.subjects-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  @media only screen and (min-width: $mq-60) {
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
  }
  .subject-outer {
    width: 80%;
    background-color: transparent;
    height: 100%;
  

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    margin: 0.25rem 1rem;
    text-align: center;
    @media only screen and (min-width: $mq-60) {
      width: 35%;
    }
    @media only screen and (min-width: $mq-1000) {
      width: 40%;
    }

    .subject-image-background {
      background-color: white;
      width: 100%;
    }
    img {
      width: 100%;
      height: auto;
      max-height: 10rem;
      object-fit: contain;
      @media only screen and (min-width: $mq-1000) {
        max-height: 12rem;
      }
    }
    h6 {
      
      align-self: center;
      @include button-styling(1rem);
      border: $border-width-s solid black;
      margin-bottom: 1rem;
      max-width: 20rem;
      &:hover,
      &:active {
        border: $border-width-m solid black;
      }
    }

    p {
      &#topics {
        margin: 0;

        @include textStyle($font-s, 700, black);

        span {
          @include textStyle($font-s, 400, $darkgrey);
          font-style: italic;
          width: 80%;
          text-align: center;
        }
      }
      @include textStyle($font-s, 200, black);
    }
  }
}

.appointments-outer {
  h1 {
    text-align: center;
    span {
      color: $blue;
      text-decoration: underline;
    }
  }
}
.appointments-display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  .appointment-block-wrapper {
    margin: 2rem 1rem;
    background-color: $blue;
    padding: 0 2rem;
    border-radius: $border-radius-big;
    border: 3px solid transparent;
    box-shadow: 10px 5px 5px $darkgrey;
    width: 80%;
    &:hover,
    &:active {
      border: 4px solid $mainred;
    }
    @media only screen and (min-width: $mq-48) {
      max-width: 22.5%;
    }
    .appointment-block-flex {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-content: center;

      h4 {
        font-size: $font-m;
        text-decoration: underline;
        text-align: center;
        margin-bottom: 1rem;
      }
      .appointment-block-padding {
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        h6 {
          margin: 0;
          line-height: 1rem;
          font-weight: bold;
          font-size: 1.25rem;
          display: inline-block;
          padding: 0 0.5rem;
          p {
            font-size: $font-m;
            font-weight: 300;
            display: inline-block;
          }
        }
        form {
          &#edit-app-form {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            .react-datepicker-wrapper {
              margin: 1rem 0;
            }
            select {
              margin: 1rem 0;
              width: 70%;
            }
            h6 {
              padding: 0;
            }
            p {
              margin-top: 0;
              font-style: italic;

              span {
                display: inline;
                text-align: right;
                font-weight: bold;
              }
            }
          }
        }
      }
      .appointment-block-buttons-wrapper {
        margin: 1rem 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
        width: 100%;
        button {
          &#edit,
          &#submit {
            @include button-styling(0);
            background-color: green;
            margin: 0 0.25rem;
            @media only screen and (min-width: $mq-48) {
              margin: 0;
            }
          }
          &#cancel {
            background-color: red;
            border: 2px solid black;
            border-radius: $border-radius-small;
            color: white;
            margin: 0 0.25rem;
            @media only screen and (min-width: $mq-48) {
              margin: 0;
            }
          }
        }
      }
    }
  }
}

.modal-wrapper {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  .modal-outer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: $lightgrey;
    border-radius: $border-radius-big;
    border: $border-width-m solid green;
    @media only screen and (min-width: $mq-48) {
      width: 30%;
    }
    &#delete-modal {
      border: $border-width-m solid red;
    }
    .modal-message {
      width: 80%;
      text-align: center;

      h6 {
        color: black;
        font-size: 1rem;
        @media only screen and (min-width: $mq-48) {
          font-size: 1.5rem;
        }
      }
    }
    .modal-buttons {
      // padding-top: 1rem;
      padding-bottom: 2rem;
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      button {
        width: 40%;
        @media only screen and (min-width: $mq-48) {
          width: 33%;
        }
      
        &#default {
          @include button-styling(0);
          background-color: $mainred;
        }
        &#confirm {
          @include button-styling(0);
          background-color: green;
        }
        &#cancel {
          @include button-styling(0);
          background-color: red;
        }
      }
    }
  }
}
//Bio-blocks
.bio-block-wrapper {
  width: 100%;
}
.bio-block-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  .single-bio-block-outer {
    flex-basis: 90%;
    @media only screen and (min-width: $mq-60) {
      flex-basis: 45%;
    }
    @media only screen and (min-width: $mq-1000) {
      flex-basis: 24%;
    }
    li.accHeader {
      color: black;
    }
  }
}
ul#secondary {
  padding-left: 5%;
  padding-right: 5%;
  li {
    padding: 0.5rem 0;
    @media only screen and (min-width: $mq-60){
      padding: 1rem 0;
    }
  }
}

.bio-wrapper {
  padding: 0;
  @media only screen and (min-width: $mq-1000) {
    padding: 2rem;
  }
  .bio-image-wrapper {
    display: flex;
    align-items: center;
    height: auto;
    margin: 2rem 0 0rem 0;

    figure {
      max-width: 25rem;
      margin: auto;
      @media only screen and (min-width: $mq-60) {
        max-width: 40rem;
        height: 23rem
      }
      img {
        object-fit: contain; 
        width: 100%;
        height: 100%;
      }
    }
  }
  .bio-text {
    max-width: 40rem;
    margin: 0rem auto;
    display: flex;
    align-items: center;
    
    @media only screen and (min-width: $mq-1000) {
      height: 9rem;
    }
    p{
      @include textStyle($font-s, $standard-weight, black);
      
    }
  }
  .tabs-wrapper {
    margin: auto;
    ul.bio-tabs {
      max-width: $max-div-width;
      margin: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0;
      text-align: center;
      //background-color: black;
      @media only screen and (min-width: $mq-60) {
        flex-wrap: nowrap;
        padding: 0.3333rem;
        justify-content: flex-start
      }
      li {
        flex-basis: 20%;
        flex-grow: 1;
        background-color: $blue;
        color: black;
        padding: 1rem;
        list-style: none;
        border: 2px solid black;
        cursor: pointer;
        @media only screen and (min-width: $mq-1000) {
          flex-basis: 15%;
        }
        &:hover,
        &:active {
          @media only screen and (min-width: $mq-1000) {
            background-color: $hover-green;
          }
        }
        &.active {
          background-color: green;
          color: white;
        }
      }
    }
  }
}

.hover-image {
  position: absolute;
  display: none;
  z-index: 2;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  p {
    font-size: 2.5rem;
    text-decoration: underline;
    color: white;
  }
}

.footer-wrapper{
  padding: 0.5rem;
  width: 100%;
  background-color: black;
  text-align: center;
  position: relative;
  bottom: 0;
  margin-top: 2rem;
  p{
    @include textStyle($font-m, 500, white);
    span{
      @include textStyle($font-m, 600, $blue);
    }
  }
}
