@import "../scss/variables.scss";

//colors
$mainred: rgb(184, 0, 86);

$border-radius-big: 3rem;
$border-radius-small: 0.5rem;

@mixin flexColumn() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  @include flexColumn();
  width: 90%;
  button {
    margin-top: 1.5rem;
    padding: 0.5rem 0.75rem;
    border-radius: $border-radius-small;
    color: white;
    border-color: black;
    background-color: $mainred;
    width: 100%;
    cursor: pointer;
    &.error-spacing {
      margin-top: 0.5rem;
    }
  }
  h1 {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.25rem;
    @media only screen and (min-width: $mq-48) {
    }
  }
}

.wrapper-padding {
  padding: 0.5rem;

  @media only screen and (min-width: 36em) {
    padding: 0 2rem;
    margin: 0 2rem;
  }
  @media only screen and (min-width: 48em) {
    padding: 0 3rem;
    margin: 0 3rem;
  }
}
.flexCol {
  @include flexColumn();
}
.home-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  margin: 1rem;
  background-color: rgb(0, 0, 22);
  @media only screen and (min-width: $mq-48) {
    grid-template-rows: 75% 25%;
    grid-template-columns: 40% 30% 30%;
  }

  .home-main-grid-img {
    grid-column: 1 / 3;
    width: 14rem;
    height: 14rem;
    padding: 1rem 0.75rem 0.75rem 5rem;

    @media only screen and (min-width: $mq-48) {
      width: 22rem;
      height: 22rem;
      padding: 0.75rem 0.75rem 0.75rem 3rem;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      border-radius: 50%;
      vertical-align: middle;
    }
  }

  .home-main-grid-acc {
    grid-column: 1/3;
    padding-left: 1rem;
  }
}

hr {
  width: 100%;
  border-color: black;
}

.form-parent {
  width: 70%;
  padding: 1rem;
  margin-top: 3rem;
  background: rgb(189, 188, 188);
  border-radius: $border-radius-big;
  border-color: $mainred;
  border-width: 0.25rem;
  border-style: solid;
  display: flex;
  justify-content: center;
  @media only screen and (min-width: $mq-48) {
    padding: 2rem;
    width: 30%;
    margin-top: 1.5rem;
  }
}

.center-wrapper {
  display: grid;
  place-items: center;
}

.wrap-form-field {
  padding: 0.25rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (min-width: $mq-48) {
    padding: 0.5rem;
  }
  .flex-form-content {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 0.5rem;
  }
  input[type="text"] {
    display: block;
    width: 100%;
    height: 1.25rem;
  }
  label {
    margin: 0 0 0.25rem 0;
    font-size: 1rem;
    font-style: italic;
    display: block;
    @media only screen and (min-width: $mq-48) {
      font-size: 1.2rem;
    }
  }
  p {
    font-size: 0.75rem;
    font-style: italic;
    color: black;
    margin-top: 0.25rem;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(8, 12%);

  gap: 10px;
  width: 100%;
  min-height: 500px;
  .grid-box {
    color: green;
    padding: 10px;
    text-align: left;
    background-color: gray;
  }
}

.error-wrap {
  margin-top: 0.5rem;
  padding: 0.25rem;
  background-color: red;
  opacity: 0.85;
  width: 100%;
  text-align: center;
  border-radius: $border-radius-small;
  p {
    color: white;
    font-size: 0.75rem;
  }
}
